<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @todo_list.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @todo_list.description %>
</p>

<p>
  <strong>Due:</strong>
  <%= @todo_list.due.to_formatted_s(:short) %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @todo_list.completed  ? 'Yes' : 'No' %>
</p>

<%= link_to 'Update', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Back', todo_lists_path %>
